{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat | Sobre</title>
    <link rel="stylesheet" href="style.css">
{% endblock %}

{% block content %}
    <div class="center-box">
        <img src="https://pbs.twimg.com/profile_images/1271517147349626881/Mf1UjRa0.jpg" alt="Rocketseat Logo">
        <h1>Rocketseat</h1>
        <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
        <ul>
            <li>React</li>
            <li>React Native</li>
            <li>Node.js</li>
            <li>Postgres</li>
        </ul>
    </div>
    <div class="links">
        <a href="#">Github</a>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
    </div>

    <div class="back">
        <a href="primeiro_html.html"><< Voltar</a>
    </div>
{% endblock %}