{% extends "layout.njk" %}


{% block head %}
    <title>Curso </title>
{% endblock %}


{% block content %}

    <a href="http://www.rocketseat.com.br/{{course.id}}" target="_blank" rel="noopener noreferrer">
        <div class="card-wrapper">
            <div class="course-card" id="starter">
                <div class="imgBox" >
                    <img src="{{course.img}}" alt="imagem de {{course.id}}">
                </div>
                <p>{{course.description}}</p>
                <div class="info-grid">
                    <span>{{course.modules}}</span>
                    <span>{{course.price}}</span>
                </div>
            </div>
         </div>
    </a>


    <script src="script.js"></script>


{% endblock %}