{% extends "layout.njk" %}


{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Cursos</title>
{% endblock %}


{% block content %}

    <div class="cards">
        
        {% for course in courses %}
            <div class="card" id="starter">
                <div class="imgBox" >
                    <img src="{{course.img}}" alt="imagem de {{course.id}}">
                </div>
                <p>{{course.description}}</p>
                <div class="info-grid">
                    <span>{{course.modules}}</span>
                    <span>{{course.price}}</span>
                </div>
            </div>
        {%endfor%}

        <div class="modal-overlay">
            <div class="modal">
                <div class="modal-controls">

                    <a class="close-modal">
                        <i class="material-icons">
                            close
                        </i>
                    </a>
                    <div class="maximize-modal">
                        <span class="material-icons">
                            check_box_outline_blank
                        </span>
                    </div>
                </div>
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <script src="script.js"></script>


{% endblock %}